*{
	margin:0px;
	padding:0px;
	font-family:"circular std book";
}

body{
	background: #e4e4e4;
}
/*header style*/
#header{

	background: #588DCB;
	font-size:40px;
	color:#0e1726;
	padding:20px 40px;
}
/*navigation*/
#nav{
	background: #f8f0f0;
	display: flex;

	
}

#nav li{
	list-style-type: none; 
	flex:1;
	border-bottom: 1px solid;
	transition: border-bottom 0.4s;
	
}
#nav li a{
	padding:10px;
	display: block;
	text-decoration: none;
	color:black	;
	font-size: 20px;
	text-align: center;
	transition: color 0.4s;
}

#nav .active{
	border-bottom: 5px solid #588DCB;
}

#nav li:hover{
	border-bottom: 5px solid #0e1726;
}
#nav li a:hover{
 color: #39f;
}

#section{
	width:90%;
	margin:10px auto;
	display: flex;
}

#section #section_L{
	
	flex:1;

}

#section #section_R{
	width: 300px
}

#section #section_L .article{
	background: #f0f2f5;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #d1d1d1;	
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	height: 500px;
	margin-bottom: 10px;
}

#section #section_R{
	background: #f0f2f5;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid #d1d1d1;	
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	margin-left: 20px;
}
#section #section_R #news #newshead{
	color: green;
	text-align: center;
	font-size:25px;
	border-bottom: 1px solid;
}

#section #section_R #news .each{
	padding:20px;
	

}
#section #section_R #news .each .image{
	background-color: #c9cfdb;
	height: 150px;
	border-radius: 5px;

}
#section #section_R .each .newschatpat{
	padding:20px;

}

/* swction left  */
 
#section #section_L .article{
	
	
}


 
#section #section_L .article .upper{
	display:flex;
}

#section #section_L .article .limage{
	background-color: #c9cfdb;
	height: 150px;
	border-radius: 5px;
	width:150px;
	

}
#section #section_L .article .info{
	padding:10px;
	flex: 1;
}
#section #section_L .article .content{
	padding:10px;

}